services:
  php:
    build: . # ./Dockerfile
    ports:
      - "8080:8080"
    environment:
        MYSQL_HOST: db
        MYSQL_DATABASE: mydb
        MYSQL_USER: myuser
        MYSQL_PASSWORD: mypassword
    volumes:
      - ./:/app
    depends_on:
        - db   # now depends on MySQL

  db:
      image: mysql:8.1
      container_name: mysql_db
      restart: always
      environment:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_HOST: db
          MYSQL_DATABASE: mydb
          MYSQL_USER: myuser
          MYSQL_PASSWORD: mypassword
      ports:
          - "3306:3306"
      volumes:
          - db_data:/var/lib/mysql

# Persist MySQL data
volumes:
    db_data:
